/* Style Keseluruhan */
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.judul {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: cyan;
}

.judul img {
    width: 10%;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffbc04;
    z-index: 1;
    border-bottom: 1px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    color: green;
}

.parallax {
    min-height: 100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(gambar/kucing.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

.text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content {
    background-color: #181818;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    display: flex;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

img {
    width: 50%;
    position: center;
}

.text-content{
    color: #ffffff;
    font-family: 'Courier New', sans-serif;
    width: 500px;
    letter-spacing: 0.1em;
    line-height: 30px;
    position: center;
    margin: auto;
}

.parallax2 {
    min-height: 75vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(gambar/meong.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

.parallax3 {
    min-height: 75vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(gambar/meow.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

.tengah {
    text-align: center;
    width: 100%;
}

.page-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card-page {
    width: 20%;
    margin: 0 auto;
}

.card-page img{
    width: 80%;
    border-radius: 50%
}

.card-page p{
    font-family: 'comis sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
}

.parallax4 {
    min-height: 75vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(gambar/kocheng.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

.parallax5 {
    min-height: 75vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(gambar/miaw.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
    text-align: center;
}

#content1 {
    background-color: #181818;
    box-sizing: border-box;
    height: 45vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    display: flex;
}